body {
}
canvas {
	margin: 5px auto;
	display: block;
}
#c3 {
}
#c {
	border: 1px solid #ddd;
	background: black;
}
a {
	display: block;
	background: white;
	padding: 10px 20px;
	color: black;
	margin: 10px auto;
	width: 40px;
	text-align: center;
}
a:hover {
	background: #ccc;
}
a:active {
	padding: 11px 20px 9px;
}
